.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bestProducts{
    height: fit-content;
    padding: 20px;
    margin: 10px 0px;
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.nextBtnWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
}
.nextBtn{
    padding: 9px;
    border-radius: 50%;  
    border: none;  
    background-color: rgb(207, 220, 246);
    color: white;
}
.productsWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 210px;
    height: 260px;
    margin: 15px 0px;
}
#pageCard{
    margin: 10px 0px;
}
.pageWraper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.pageTitleContainer{
    display: flex;
    justify-content: start;
    padding: 25px;
}