.container{
    display: flex;
    justify-content: center;
}
.cardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    height: fit-content;
    background-color: #fff;
    width: 95%;
    flex-wrap: wrap;
    padding: 25px;
}
.card{
    height: fit-content;
    margin: 10px 10px;
    width: calc(33.33% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.discountImage{
    object-fit: cover;
    cursor: pointer;
}