.container{
    /* width: 100%; */
    /* display: flex; */
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left{
    display: flex;
    width: 40%;
}
.productSmallImages{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.smallImage{
    object-fit: contain;
    margin: 10px 0px;
    cursor: pointer;
}
.bigImage{
    object-fit: cover;
    margin: 20px 30px;
}
.variatonBtn{
    border: 0.5px solid lightgray;
    margin: 0px 5px;
    border-radius: 5px;
    padding: 3px 10px;
}
.variatonBtn:hover{
    background-color: rgb(215, 213, 213);
}
.selectSizeWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sizes{
    padding: 10px;
    background-color: rgb(237, 235, 235);
    border: none;
    width: 100px;
    margin: 3px;
    color: #838181;
    border-radius: 5px;
}
.sizes:hover{
    background-color: #c4c1c1;
}
.right{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.btnsWrapper{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.addToCart{
    background-color: black;
    color: #fff;
    border: none;
    width: 70%;
    padding: 8px;
    border-radius: 25px;
    margin: 10px 0px;
}
.addToCart:hover{
    background-color: rgb(53, 53, 53);
}
.whishList{
    background-color: rgb(252, 157, 5);
    color: white;
    border: none;
    width: 70%;
    padding: 8px;
    border-radius: 25px;
}
.whishList:hover{
    background-color: rgb(240, 176, 73);
    color: white;
    border: none;
}
.selectTexts{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.descriptionWrapper{
    margin: 10px 0px;
}
.selectText2{
    color: gray;
}
.colorWrapper{
    display: flex;
    margin: 10px 0px;
}
.color{
    margin: 0px 10px;
}
.btnImages{
    padding: 15px;
    border-radius: 50%;
    border: 0.5px solid gray;
    margin: 0px 5px;
}
.selectSizeWrapper{
    margin: 10px 0px;
}