.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrapper:hover{
    border-color: #007bff;
}