.parentContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container {
  width: 95%;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 80px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.productImage{
  object-fit: contain;
}
.wrapper:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 768px) {
  .productImage {
    height: 37px;
    width: 37px;
    object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  .productName {
    margin-top: 5px !important;
    font-size: 9px !important;
  }
}
@media screen and (max-width: 768px) {
  .container {
    height: 80px;
    width: 95%;
    justify-content: space-evenly;
    padding: 5px;
    margin: 2px 0px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0px 2px;
    justify-content: center;
    align-items: center;
  }
}
