.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    margin: 50px 0px;
    width: 90%;
}
.status{
    color: green !important;
}
.titleWrapper{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 20px;
    margin-top: 10px;
}
.RegisterPopUp{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    object-fit: contain;
}