.wrapper {
  display: flex;
  padding: 0px 15px;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 242, 242);
}
.welcome {
  color: rgb(127, 127, 127);
  font-size: 14px;
  font-weight: 500;
}
.btnWrapper {
  display: flex;
}
.registerBtn {
  border: none;
  background-color: #2fb31b;
  color: rgb(255, 252, 252);
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .popUpText {
    font-size: 8px;
    margin: 0px;
  }
}
@media screen and (max-width: 768px) {
  .btnWrapper {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .registerBtn {
    height: 20px;
    font-size: 8px;
  }
}
