.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.slider {
  width: 95%;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slide {
  position: relative;
}
.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.leftButton,
.rightButton {
  background-color: white;
  border: none;
  color: gray;
  font-size: 24px;
  cursor: pointer;
  padding: 25px 8px;
  transition: background-color 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.leftButton:hover,
.rightButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.leftButton {
  left: 0px;
  border-radius: 0px 10px 10px 0px;
}

.rightButton {
  right: 0px;
  border-radius: 10px 0px 0px 10px;
}
.image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.image:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 450px) {
  .slider {
    width: 95%;
    height: 100px;
  }
}
@media screen and (max-width: 450px) {
  .image {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}
@media screen and (max-width: 450px) {
  .leftButton {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .rightButton {
    display: none;
  }
}